[Unit]
Description=pidesktop reboot service
DefaultDependencies=no
Before=reboot.target

[Service]
Type=oneshot
ExecStart=/opt/thinclient/desktop/pidesktop.sh pd-reboot.py

[Install]
WantedBy=reboot.target
