Source: xtc
Section: unknown
Priority: optional
Maintainer: Stephan Eisler <stephan@eisler.de>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://www.vmfree.org/xtc/xtcen.html
Vcs-Browser: https://github.com/xtc-Thin-Client/xtcbin 
Vcs-Git: https://github.com/xtc-Thin-Client/xtcbin.git 

Package: xtc
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: xtc is a open source thin client software
 xtc is a open source thin client software. Connect to all servers in your network and benefit from their power.
